###########################################################
##################### Configuracoes gerais#################
###########################################################

### Paths #################################################

# Path com os scripts da sua aplicação. Uma pasta antes da public_html
APP_CODE_PATH_HOST=/Users/onovaes/Documents/Sites

### APACHE ################################################
APACHE_HOST_HTTP_PORT=8080
APACHE_HOST_HTTPS_PORT=443
APACHE_SITES_PATH=./apache2/sites-available
APACHE_HOST_LOG_PATH=./logs/apache2


### VARNISH ###############################################
VARNISH_PORT=80